<footer class="bg-dark text-white">

    <div class="container text-center text-md-left">

        <div class="row text-center">

            

            <div class="col-md-12 pt-2 ">
                        <h3>Contact Us</h3>
                        
                        <p><i class="fas fa-map-marker-alt"></i> Shukrabad,Dhanmondi-32 (Dhaka-Bangladesh)</p>
                        <p><i class="fas fa-phone"></i> Phone: 016293650</p>
                        
                   
             </div>
          
    </div>

  </footer>